**/*venv*
**/modules
**/*.pyc
**/__pycache__
**/.tmp
**/*.md
**/.env
**/*.log

.pytest_cache
.coverage
htmlcov
.gitlab
.git
.cache
dist
build
**/*.egg-info
.idea
.vscode

pics
statistic_script_temp_dir
CODEOWNERS
CODE_OF_CONDUCT.md
LICENSE
pyrightconfig.json
tox.ini
