# Load all project requirements
-r ./requirements.txt

# Setup source directories as editable/development distributions
tox==3.24.5
pyflakes==2.4.0
flake8==4.0.1

# pytest-cov==3.0.0
# pytest==6.2.5
# coverage==6.3
